@import "tailwindcss";
@source ".";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Enable class-based dark mode */
@variant dark (&:is(.dark *));

html,
body {
  @apply bg-white dark:bg-gray-950;
}

html.dark {
  color-scheme: dark;
}

html.light {
  color-scheme: light;
}